{% extends "base.html" %}

{% block title %}Ara{% endblock %}

{% block content %}
<style>
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    .search-bar {
        width: 50%;
        padding: 15px;
        font-size: 1.2em;
        border-radius: 25px;
        border: 1px solid #ccc;
    }
</style>

<div class="search-container">
    <form action="{{ url_for('products') }}" method="get" style="width: 100%; text-align: center;">
        <input type="search" name="q" class="search-bar" placeholder="Gıda ürünü girin ...">
    </form>
</div>
{% endblock %}
